<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- CounterStrikeSharp.API pre-release builds are published to GitHub Packages.
         The NUGET_AUTH_TOKEN env var is set to GITHUB_TOKEN in CI (see plugin-build.yml).
         Locally, generate a PAT with read:packages scope and set it in your env. -->
    <add key="css-github" value="https://nuget.pkg.github.com/roflmuffin/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <css-github>
      <add key="Username" value="evanhzg" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </css-github>
  </packageSourceCredentials>
</configuration>
